@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

:root {
    --light-blue: #D6E5FF;
    --medium-blue: #2A628F;
    --dark-blue: #16324F;
    --yellow: #F6AE2D;
    --orange: #F26419;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

body, button, input, select, textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--light-blue);
    height: 100vh;
}

h1 {
    color: var(--orange);
    font-size: 40px;
    text-transform: capitalize;
}

h1 svg {
    width: 32px;
    height: 32px;
}

.container {
    margin: 0 auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}

.weather-search {
    text-align: center;
}

.weather-search input {
    border: 1px solid var(--dark-blue);
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 8px;
}

.weather-search label {
    margin-bottom: 16px;
}

.weather-search button {
    border: 1px solid var(--orange);
    background-color: var(--orange);
    border-radius: 8px;
    padding: 4px 8px;
    width: 96px;
    color: #FFF;
}

.weather-details {
    margin-top: 32px;
    color: var(--medium-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 16px 1px rgba(125, 125, 125, .2);
}

.weather-details svg {
    color: var(--medium-blue);
    width: 80px;
    height: 80px;
}

.weather-details h5 {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 16px;
    margin: 16px 0;
    padding: 0;
}

.weather-details .weather-condition span {
    display: block;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.weather-details .weather-condition span:nth-child(2) {
    font-size: 40px;
    color: var(--orange);
}
.hide {
    display: none;
}